src/test/resources/DbUnitDataSets/testDb.dtd

<!ELEMENT dataset (
   (ORGANIZATION|
    ROLE|
    USER_ACCOUNT|
    USER_DETAILS|
    USER_ORGANIZATION|
    USER_ROLE)*)>

<!ELEMENT ORGANIZATION EMPTY>
<!ATTLIST ORGANIZATION
    ID CDATA #REQUIRED
    UNIQUE_NAME CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT ROLE EMPTY>
<!ATTLIST ROLE
    ID CDATA #REQUIRED
    ROLE_NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT USER_ACCOUNT EMPTY>
<!ATTLIST USER_ACCOUNT
    ID CDATA #REQUIRED
    USER_NAME CDATA #REQUIRED
    EMAIL CDATA #IMPLIED
    PASSWORD_SALT CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    PASSWORD_QUESTION CDATA #REQUIRED
    PASSWORD_ANSWER CDATA #REQUIRED
    ENABLED CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LAST_LOCK_OUT_DATE CDATA #IMPLIED
    CREATED_DATE CDATA #REQUIRED
    LAST_LOGIN_DATE CDATA #REQUIRED
    LAST_PASSWORD_CHANGED_DATE CDATA #REQUIRED
    FAILED_PWD_WIN_START CDATA #IMPLIED
    FAILED_PWD_ANSWER_WIN_START CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
>

<!ELEMENT USER_DETAILS EMPTY>
<!ATTLIST USER_DETAILS
    USER_ID CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    MIDDLE_NAME CDATA #IMPLIED
    EMPLOYEE_ID CDATA #REQUIRED
    UNIQUE_NAME CDATA #IMPLIED
    INSTITUTION_NAME CDATA #REQUIRED
    DEPARTMENT_NAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    PAGER CDATA #IMPLIED
>

<!ELEMENT USER_ORGANIZATION EMPTY>
<!ATTLIST USER_ORGANIZATION
    ID CDATA #REQUIRED
    USER_ID CDATA #REQUIRED
    ORGANIZATION_ID CDATA #REQUIRED
    APPROVED CDATA #REQUIRED
>

<!ELEMENT USER_ROLE EMPTY>
<!ATTLIST USER_ROLE
    USER_ID CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
>

